.menu-btn {
  position: absolute;
  z-index: 2;
  top: 4rem;
  right: 4rem;
  cursor: pointer;
  @include easeOut;

  .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #fff;
    @include easeOut;
  }

  &.close {
    transform: rotate(180deg);

    .btn-line {
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }

      &:nth-child(2) {
        background: inherit;
      }

      &:nth-child(3) {
        transform: rotate(-45deg) translate(6.3px, -6.3px);
      }
    }
  }
}
