@include mediaSm {
  .menu-btn {
    top: 2rem;
    right: 3rem;
  }
  main {
    padding: 2rem;

    &#home h1 {
      margin-top: 10vh;
    }

    &#about {
      .bio-img {
        margin-top: -1rem;
        img {
          transform: scale(0.8);
          shape-outside: initial;
          float: none;
          margin: auto;
        }
        h3 {
          margin: auto;
        }
      }
      > h3 {
        margin: 5rem auto 2rem;
      }
    }
  }

  #contact .box {
    font-size: 1.3rem;
    padding: 0.2rem 1rem;
    &:hover {
      padding: 0.1rem 0.7rem;
    }
  }
}

@include mediaMd {
  main {
    text-align: center;
    align-items: center;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }

  ul.menu-nav,
  div.menu-brand {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-brand {
    height: 25vh;
    transform: translate3d(100%, 0, 0);
    .picture {
      width: 130px;
      height: 130px;
    }
  }

  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);

    .nav-link {
      font-size: 25px;
    }
  }
}

@include mediaLg {
}

@include mediaXl {
  #contact .box {
    font-size: 1.8rem;
  }
}

@include mediaVert {
  .menu-brand .picture {
    display: none;
  }
  .menu .menu-nav {
    padding-bottom: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .nav-item {
      place-self: center;
    }
    .nav-link {
      font-size: 1.3ch;
    }
  }
  #home {
    padding: 0 40vw 10vh 0;
    h1 {
      font-size: 6ch;
    }
    h2 {
      font-size: 2ch;
    }
    .icons {
      margin: -0.5rem;
      a {
        padding: 0 0 1rem 1.5rem;
      }
    }
  }
}
