@include mediaSm {
  .menu-btn {
    top: 2rem;
    right: 3rem;
  }
  main {
    padding: 2rem;

    &#home h1 {
      margin-top: 10vh;
    }

    .lg-heading {
      margin-top: 1rem;
    }
  }

  .bio-img img {
    transform: scale(0.8);
    margin: -0.5rem;
  }

  .bio-info {
    margin-top: 15vh;
  }


  #contact .box {
    font-size: 1.5rem;
    padding: 0.2rem 1rem;
    &:hover {
      padding: 0.1rem 0.7rem;
    }
  }
}

@include mediaMd {
  main {
    text-align: center;
    align-items: center;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }

  ul.menu-nav,
  div.menu-brand {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-brand {
    height: 25vh;
    transform: translate3d(100%, 0, 0);
    .picture {
      width: 130px;
      height: 130px;
    }
  }

  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);

    .nav-link {
      font-size: 25px;
    }
  }

  .bio-info {
    grid-template-columns: 1fr;
  }

  #contact .contact-boxes {
    grid-template-columns: 1fr;
  }
}

@include mediaLg {
}

@include mediaXl {
  #contact .contact-boxes {
    margin-top: 8vh;
    .box {
      font-size: 2.5rem;
    }
  }
}
