@font-face {
  font-family: 'MPLUSRounded1c';
  src: url('/fonts/MPLUSRounded1c-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'MPLUSRounded1c';
  src: url('/fonts/MPLUSRounded1c-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'MPLUSRounded1c';
  src: url('/fonts/MPLUSRounded1c-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* BASE CSS RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: stretch;
  overflow-x: clip;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  font-family: 'MPLUSRounded1c', sans-serif;
  max-width: 2000px;
  min-height: 100vh;
  min-height: stretch;
  background-color: hsl(var(--clr-bg));
  color: hsl(var(--clr-text));
  font-weight: var(--font-weight-4);
  text-rendering: optimizeSpeed;
  line-height: var(--font-lineheight-3);
  position: relative;
  overflow-x: clip;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

button,
input,
select,
textarea {
  font: inherit;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
a {
  letter-spacing: var(--font-letterspacing-2);
}

p,
blockquote,
aside {
  letter-spacing: var(--font-letterspacing-1);
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ROOT STYLE VARIABLES */
:root {
  /* COLORS */

  /* common */
  --clr-accent: 138 97% 45%;
  --clr-accent-highlight: 141 62% 61%;
  --clr-secondary: 288 36% 46%;

  /* Light Mode */
  --text-light: 220 26% 14%;
  --bg-light: 0 0% 99%;
  --banner-light: hsl(var(--gray-3-hsl) / 30%);
  --bulb-light: var(--clr-secondary);

  /* Dark Mode */
  --text-dark: 0 0% 93%;
  --bg-dark: 240 4% 13%;
  --banner-dark: hsl(var(--gray-0-hsl) / 4%);
  --bulb-dark: 245 8% 71%;
}

/* Dark/Light Mode System Changer */
@media (prefers-color-scheme: light) {
  :root {
    --clr-text: var(--text-light);
    --clr-bg: var(--bg-light);
    --clr-banner: var(--banner-light);
    --clr-bulb: var(--bulb-light);
    color-scheme: light;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --clr-text: var(--text-dark);
    --clr-bg: var(--bg-dark);
    --clr-banner: var(--banner-dark);
    --clr-bulb: var(--bulb-dark);
    color-scheme: dark;
  }
}

:root[color-scheme='light'] {
  --clr-text: var(--text-light);
  --clr-bg: var(--bg-light);
  --clr-banner: var(--banner-light);
  --clr-bulb: var(--bulb-light);
  color-scheme: light;
}

:root[color-scheme='dark'] {
  --clr-text: var(--text-dark);
  --clr-bg: var(--bg-dark);
  --clr-banner: var(--banner-dark);
  --clr-bulb: var(--bulb-dark);
  color-scheme: dark;
}

/* Utilities */
.hidden {
  display: none;
}

.blurred {
  backdrop-filter: blur(1rem);
}

.btn {
  border: 0;
  cursor: pointer;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--size-fluid-2);
}

.mt-2 {
  margin-top: var(--size-2);
}

.indent::first-letter {
  margin-left: 2ch;
}

/* Single Project Details Pages */
.project-page__back-link {
  text-decoration: none;
  margin-right: 1ch;
  color: hsl(var(--clr-accent));
}

.project-page__back-link:hover {
  text-decoration: underline;
}

.project-page__title {
  display: inline-block;
  margin-left: 1ch;
}

.project-page__list {
  list-style-type: none;
  margin-top: var(--size-4);
}

.project-page__list-item {
  margin-bottom: var(--size-fluid-1);
}

.project-page__list-tag {
  margin-right: var(--size-1);
  padding-inline: 0.1em;
  text-transform: uppercase;
  font-size: var(--font-size-0);
  font-weight: 700;
  vertical-align: top;
  border-radius: var(--radius-1);
  background-color: hsl(var(--clr-secondary) / 0.8);
}

.project-page a {
  color: hsl(var(--clr-accent));
  text-decoration: none;
}

.project-page a:hover {
  text-decoration: underline;
}

.project-page__list-icon {
  display: inline-block;
  vertical-align: top;
}

.project-page__img {
  margin-top: var(--size-4);
  border-radius: var(--radius-2);
}

@media (min-width: 768px) {
  .grid-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
