---
import Layout from '../layouts/Layout.astro'
const title = "Kyle's Portfolio | Contact"
---

<Layout title={title}>
  <h1>Reach out!</h1>
  <form
    class='contact-form'
    data-netlify='true'
    name='contact'
    method='POST'
    data-netlify-honeypot='bot-field'
    action='/success/'
  >
    <input name='bot-field' class='bot-input' />
    <div class='contact-form__form-group'>
      <label for='name'>Name</label>
      <input
        type='text'
        name='name'
        id='name'
        placeholder='full name'
        minlength='2'
        required
      />
    </div>
    <div class='contact-form__form-group'>
      <label for='email'>Email</label>
      <input
        type='email'
        name='email'
        id='email'
        placeholder='yourmail@example.com'
        required
      />
    </div>
    <div class='contact-form__form-group'>
      <label for='phone'>Phone <small>(optional)</small></label>
      <input type='tel' name='phone' id='phone' placeholder='555-555-5555' />
    </div>
    <div class='contact-form__form-group'>
      <label for='message'>Message</label>
      <textarea
        name='message'
        id='message'
        rows='7'
        placeholder='your message'
        minlength='3'
        required></textarea>
    </div>
    <button class='btn contact-form__btn'>Send</button>
  </form>
</Layout>

<style>
  .contact-form {
    margin-top: var(--size-4);
  }

  .contact-form__form-group {
    margin-top: var(--size-4);
  }

  .contact-form input,
  .contact-form textarea {
    width: 100%;
    display: block;
    padding: var(--size-2);
    border: var(--border-size-1) solid var(--gray-5);
    border-radius: var(--radius-2);
    box-shadow: var(--shadow-4);
  }

  .contact-form__btn {
    margin-block: var(--size-6);
    padding: 0.5em 2em;
    background-color: hsl(var(--clr-accent));
    color: hsl(var(--clr-bg));
    font-weight: var(--font-weight-7);
    border: 0;
    border-radius: var(--radius-2);
  }

  .contact-form__btn:hover {
    background-color: hsl(var(--clr-accent-highlight));
  }

  .contact-form input.bot-input {
    display: none;
  }

  @media (min-width: 768px) {
    .contact-form {
      padding: var(--size-4);
      border-radius: var(--radius-2);
      box-shadow: var(--shadow-3);
    }

    .contact-form input,
    .contact-form textarea {
      box-shadow: var(--shadow-2);
    }
  }
</style>
