---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/Hero.astro'
import skillsIcons from '../data/skillsIcons.json'
import toolsIcons from '../data/toolsIcons.json'
import { Icon } from 'astro-icon'
---

<Layout title='Kyle&apos;s Portfolio'>
  <Hero />
  <section class='projects'>
    <h2 class='section__heading'>Work and Projects</h2>
    <p class='mt-2 indent'>
      I'm self-taught, extremely passionate about learning new technologies, and
      constantly growing my web development skills. My current focus is the
      Javascript ecosystem, in which I have about three years experience. I love
      solving problems and creating cool things with tech I've learned.
    </p>
    <p class='projects__link-wrapper'>
      <a
        href='/projects'
        class='projects__link'
        aria-label='Visit my projects page'>My portfolio &gt;</a
      >
    </p>
  </section>
  <section class='skills'>
    <h2 class='section__heading'>Skills</h2>
    <div class='skills__icons'>
      {skillsIcons.map(icon => <Icon name={icon.name} title={icon.title} />)}
    </div>
    <h2 class='section__heading'>Tools</h2>
    <div class='skills__icons'>
      {toolsIcons.map(icon => <Icon name={icon.name} title={icon.title} />)}
    </div>
  </section>

  <section class='education'>
    <h2 class='section__heading'>Education</h2>
    <p class='mt-2 indent'>
      I built my first computer in 2018, then started picking up HTML, CSS, and
      Javascript and joined GitHub. I quickly saw the power and beauty of
      Javascript and gained the desire to learn as much as possible. I am
      completely self-trained. The methods I use to learn software, coding, and
      development/programming principles are reading documentation, building
      projects, and studying articles and tutorials/courses by experienced
      developers such as
    </p>
    <ul class='education__list'>
      <li><p>Davy Gray</p></li>
      <li><p>Shaun Pelling</p></li>
      <li><p>Akshay Saini</p></li>
      <li><p>John Smilga</p></li>
      <li><p>Tomas Weibenfalk</p></li>
    </ul>
  </section>

  <section class='weblinks'>
    <h2 class='section__heading'>On the web</h2>
    <ul class='mt-2 weblinks__list'>
      <li>
        <a
          href='https://github.com/KyleKnolleLynch'
          class='weblinks__list-link'
          target='_blank'
          rel='noopener'><span><Icon name='github' /></span>@KyleKnolleLynch</a>
      </li>
      <li>
        <a
          href='https://codepen.io/kyleknollelynch'
          class='weblinks__list-link'
          target='_blank'
          rel='noopener'
          ><span><Icon name='codepen' /></span>@kyleknollelynch</a>
      </li>
    </ul>
  </section>

  <section class='hobbies'>
    <h2 class='section__heading'>I ♥</h2>
    <p class='mt-2 indent'>
      Learning, coffee, ancient history, working on Subarus, computer hardware
    </p>
  </section>
</Layout>

<style>
  .section__heading {
    margin-top: var(--size-5);
    display: inline-block;
    position: relative;
    color: hsl(var(--clr-text));
    font-size: var(--font-size-3);
  }

  .section__heading::before {
    content: '';
    width: 100%;
    height: var(--size-1);
    position: absolute;
    top: 1.3em;
    left: 0;
    right: 0;
    background-color: var(--gray-7);
  }

  .projects__link-wrapper {
    text-align: center;
    margin-top: var(--size-4);
  }

  .projects__link {
    text-decoration: none;
    text-transform: uppercase;
    padding: var(--size-1) var(--size-6);
    display: inline-block;
    font-size: var(--font-size-fluid-1);
    font-weight: var(--font-weight-9);
    color: hsl(var(--clr-bg));
    background-color: hsl(var(--accent));
    border-radius: var(--radius-2);
    transform: matrix(1, -0.08, 0, 0.99, 0, 0);
    transition: background-color 150ms ease-in-out;
  }

  .projects__link:hover {
    background-color: hsl(var(--accent-dark));
  }

  .skills__icons {
    margin-top: var(--size-3);
    display: flex;
    flex-wrap: wrap;
    gap: var(--size-fluid-3);
  }

  [astro-icon] {
    width: var(--size-fluid-4);
    height: var(--size-fluid-4);
  }

  [astro-icon='nextjs'] {
    fill: hsl(var(--clr-text));
  }

  [astro-icon='arch-linux'] {
    width: 7rem;
  }

  [astro-icon='github'],
  [astro-icon='codepen'] {
    width: 1.3rem;
    height: auto;
  }

  .education__list {
    margin-left: var(--size-3);
  }

  .weblinks__list {
    list-style-type: none;
  }

  .weblinks__list-link {
    display: inline-flex;
    align-items: center;
    gap: 0.6em;
    margin: 0.8em 0 0 2ch;
    padding: var(--size-2);
    color: hsl(var(--accent));
    border-radius: var(--radius-2);
    text-decoration: none;
    transition: 200ms ease-in-out;
  }

  .weblinks__list-link:hover {
    background-color: hsl(var(--accent-dark) / 0.4);
    text-decoration: underline;
  }
</style>
