---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/Hero.astro'
import { Icon } from 'astro-icon'
---

<Layout title='Kyle&apos;s Portfolio'>
    <Hero />
    <section class="projects">
      <h3 class="section--heading">Work and Projects</h3>
      <p class='mt-2 indent'>I'm self-taught, extremely passionate about learning new technologies, and constantly growing my web development skills. My current focus is the Javascript ecosystem, in which I have about three years experience. I love solving problems and creating cool things with tech I've learned.</p>
      <p class='projects__link-wrapper'>
        <a href="/projects" class='projects__link' aria-label='Visit my projects page'>My portfolio &gt;</a>
      </p>
    </section>
    <section class='skills'>
      <h3 class='section--heading'>Skills</h3>
      <div class='skills__icons'>
        <Icon name='javascript' />
        <Icon name='html' />
        <Icon name='css-3' />
        <Icon name='react' />
        <Icon name='nextjs' />
        <Icon name='sass' />
        <Icon name='tailwind-css' />
        <Icon name='nodejs' />
        <Icon name='mongodb' />
      </div>
      <h3 class='section--heading'>Tools</h3>
      <div class='skills__icons'>
        <Icon name='git' />
        <Icon name='npm' />
        <Icon name='arch-linux' />
        <Icon name='windows' />
        <Icon name='vs-code' />
      </div>
    </section>

    <section class='education'>
      <h3 class="section--heading">Education</h3>
      <p class="mt-2 indent">
        I built my first computer in 2018, then started picking up HTML, CSS, and Javascript and joined GitHub. I quickly saw the power and beauty of Javascript and gained the desire to learn as much as possible. I am completely self-trained. The methods I use to learn software, coding, and development/programming principles are reading documentation, building projects, and studying articles and tutorials/courses by experienced developers such as
      </p>
      <ul class='education__list'>
        <li><p>Davy Gray</p></li>
        <li><p>Shaun Pelling</p></li>
        <li><p>Akshay Saini</p></li>
        <li><p>John Smilga</p></li>
        <li><p>Tomas Weibenfalk</p></li>
      </ul>
    </section>
    
    <section class="hobbies">
      <h3 class='section--heading'>I ♥</h3>
      <p class='mt-2 indent'>Learning, coffee, ancient history, working on Subarus, computer hardware</p>
    </section>
</Layout>

<style>
  .section--heading {
    margin-top: var(--size-5);
    display: inline-block;
    position: relative;
    color: hsl(var(--clr-text));
  }

  .section--heading::before {
    content: '';
    width: 100%;
    height: var(--size-1);
    position: absolute;
    top: 1.3em;
    left: 0;
    right: 0;
    background-color: var(--gray-7);
  }

  .projects__link-wrapper {
    text-align: center;
    margin-top: var(--size-4);
  }

  .projects__link {
    text-decoration: none;
    text-transform: uppercase;
    padding: var(--size-1) var(--size-6);
    display: inline-block;
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-7);
    color: var(--gray-9);
    background-image: var(--gradient-12), var(--noise-1);
    filter: var(--noise-filter-1);
    background-size: cover;
    border-radius: var(--radius-2);
    transform: matrix(1,-.08,0,.99,0,0);
  }

  .skills__icons {
    margin-top: var(--size-3);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr));
    gap: var(--size-fluid-1);
  }

  [astro-icon] {
    width: var(--size-fluid-4);
    height: var(--size-fluid-4);
  }

  [astro-icon='nextjs'] {
    fill: hsl(var(--clr-text));
  }

  [astro-icon='arch-linux'] {
    width: 7rem;
  }

  [astro-icon='windows'] {
    justify-self: center;
  }

  .education__list {
    margin-left: var(--size-3);
  }
</style>
