---
import Layout from '../layouts/Layout.astro'
---

<Layout>
    <h1>Reach out!</h1>
    <p class='success-text'>Thank you, your submission was received! I will get back to you shortly.</p>
</Layout>

<style>
    .success-text {
        margin-top: var(--size-2);
        font-size: var(--font-size-3);
    }
</style>

