---
const { title = "Kyle's Portfolio" } = Astro.props
---

<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width' />
  <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
  <meta name='generator' content={Astro.generator} />
  <meta name='description' content='Personal projects portfolio website built with Astro' />
  <meta name='keywords' content='HTML, CSS, Javascript, Astro' />
  <meta name='author' content='Kyle Knolle Lynch' />
  <title>{title}</title>
</head>
