---
---

<footer class='footer'>
  <small>&copy; <span id='year'></span> Kyle Lynch. All Rights Reserved.</small>
</footer>

<style>
  .footer {
    margin-block: var(--size-fluid-3);
    text-align: center;
    color: var(--gray-7);
  }
</style>

<script is:inline>
  document.getElementById('year').textContent = new Date().getFullYear()
</script>
