---

---

<section class='hero'>
    <p class='hero__slogan'>Hello, I'm a front-end web developer based in Austin, Texas!</p>
    <h2>Kyle Lynch</h2>

</section>

<style>
    .hero__slogan {
        padding: var(--size-fluid-1);
        background-color: var(--clr-banner);

    }
</style>