---
import Icon from 'astro-icon'
import ModeButton from './ModeButton.astro'
const navLinks = [
  {
    name: 'Home',
    url: '/',
    style: 'transparent',
  },
  {
    name: 'Projects',
    url: '#',
    style: 'transparent',
  },
  {
    name: 'Posts',
    url: '#',
    style: 'transparent',
  },
  {
    name: 'Contact',
    url: '#',
    style: 'primary',
  },
]
---

<nav class='nav-main' aria-label='Main'>
  <div class='nav-main__container'>
    <div class='nav-main__left'>
      <h1>
        <a href='/' class='nav-main__title'>
          <Icon
            pack='ph'
            name='hand-waving-light'
            width={24}
            class='nav-main__logo'
          />
          Kyle Lynch
        </a>
      </h1>
    </div>
    <div class='nav-main__center'>
      <ul class='nav-main__links' role='navigation'>
        {
          navLinks.map(link => (
            <li role='none'>
              <a href={link.url} class='btn btn--${link.style} nav-link'>
                {link.name}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
    <div class='nav-main__right'>
      <ModeButton />
      <button
        class='btn btn--menu'
        id='nav-menu-btn'
        aria-label='Open mobile navigation'
        aria-expanded='false'
      >
        <Icon pack='ph' name='list' width={24} />
      </button>
    </div>
  </div>
</nav>

<style>
  .nav-main {
    padding: var(--size-fluid-2);
    background-color: hsl(var(--clr-banner) / 40%);
    color: hsl(var(--clr-text));
    backdrop-filter: blur(10px);
    z-index: var(--layer-5);
    position: sticky;
    top: 0;
  }

  .nav-main__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-main__title {
    display: flex;
    font-size: var(--font-size-fluid-2);
  }
  .nav-main__logo {
    margin-right: 0.2em;
    transition: transform 120ms ease;
  }
  .nav-main__title:hover .nav-main__logo {
    transform: rotate(20deg);
  }
  .nav-main__links {
    display: flex;
    flex-direction: column;
    transform: translateY(-200%);
  }

  .nav-main__right {
    display: flex;
    gap: 1em;
  }

  .btn--menu {
    inline-size: var(--size-8);
    block-size: var(--size-8);
    border: var(--border-size-1) solid hsl(var(--clr-text) / 0.1);
    border-radius: var(--radius-2);
    display: grid;
    place-items: center;
    background-color: transparent;
  }
</style>

<script is:inline>
  const navMenuBtn = document.getElementById('nav-menu-btn')
  navMenuBtn.addEventListener('click', () => {
    navMenuBtn.setAttribute(
      'aria-expanded',
      navMenuBtn.getAttribute('aria-expanded') === 'false' ? 'true' : 'false'
    )
  })
</script>
