---
import Icon from 'astro-icon'
import ModeButton from './ModeButton.astro'
const navLinks = [
  {
    name: 'Projects',
    url: 'projects',
  },
  {
    name: 'About',
    url: '/',
  },
  {
    name: 'Uses',
    url: '#',
  },
  {
    name: 'Contact',
    url: 'contact',
  },
]
---

<header class='header blurred'>
    <a href='/' class='header__title' aria-label='Return to home page'>
      <Icon
        name='ph:hand-waving-light'
        width={24}
        class='header__logo'
      />
      Kyle Lynch
    </a>
  <nav aria-label='Main'>
    <ul class='header__nav' id='primary-navigation' aria-expanded='false'>
      {
        navLinks.map(link => (
          <li role='none'>
            <a href={link.url} class='header__nav-link' aria-label={`Visit ${link.name} page`}>
              {link.name}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
  <div class='header__buttons-wrapper'>
    <ModeButton />
    <button
      class='btn btn--nav-toggle'
      id='nav-menu-btn'
      aria-label='Open mobile navigation'
      aria-controls='primary-navigation'
    >
      <Icon pack='ph' name='list' width={24} />
    </button>
  </div>
</header>

<style>
  .header {
    padding-block: var(--size-fluid-1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--size-fluid-4);
    background-color: var(--clr-banner);
    color: hsl(var(--clr-text));
    position: sticky;
    top: 0;
    z-index: var(--layer-3);
  }

  .header a {
    text-decoration: none;
    font-weight: 700;
    color: hsl(var(--clr-text));
  }

  .header__title {
    display: flex;
    font-size: var(--font-size-fluid-1);
  }
  .header__logo {
    margin-right: 0.2em;
    transition: transform 120ms var(--ease-3);
  }
  .header__title:hover .header__logo {
    transform: rotate(20deg);
  }
  .header__nav {
    display: flex;
    gap: 1em;
    list-style: none;
  }

  .header__nav-link {
    margin-inline-end: var(--size-3);
    position: relative;
  }

  .header__nav-link::before {
    content: '';
    display: block;
    height: var(--border-size-2);
    background-color: hsl(var(--clr-text));
    position: absolute;
    top: 1.3em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transform-origin: left;
    transition: transform 200ms var(--ease-out-2);
  }

  .header__nav-link:hover::before {
    transform: scale(1, 1);
  }

  .header__buttons-wrapper {
    display: flex;
    gap: 1em;
    flex-basis: 10%;
    justify-content: flex-end;
    z-index: var(--layer-5);
  }

  .btn--nav-toggle {
    display: none;
  }

  @media (max-width: 767px) {
    .header {
      justify-content: space-around;
    }

    .header__nav {
      min-height: 100vh;
      position: fixed;
      inset: 0;
      flex-direction: column;
      align-items: center;
      padding-top: min(25vh, 10rem);
      background-color: hsl(var(--clr-bg) / 60%);
      backdrop-filter: blur(1rem);
      opacity: 0;
      transform: translate(100%, -100%);
      transition: all 200ms var(--ease-out-3);
    }

    .header__nav[aria-expanded='true'] {
      opacity: 1;
      transform: translate(0, 0);
    }

    .btn--nav-toggle {
      display: block;
      width: var(--size-8);
      aspect-ratio: 1;
      border: var(--border-size-1) solid hsl(var(--clr-text) / 0.1);
      border-radius: var(--radius-2);
      display: grid;
      place-items: center;
      background-color: transparent;
    }
  }
</style>

<script is:inline>
  const primaryNav = document.getElementById('primary-navigation')
  const navToggle = document.querySelector('.btn--nav-toggle')
  navToggle.addEventListener('click', () => {
    const visibility = primaryNav.getAttribute('aria-expanded')
    const header = document.querySelector('.header')
    primaryNav.setAttribute(
      'aria-expanded',
      visibility === 'false' ? 'true' : 'false'
    )

    header.classList.toggle('blurred')
  })
</script>
