---
import BaseHead from '../components/BaseHead.astro'
import Navbar from '../components/Navbar.astro'
import Footer from '../components/Footer.astro'
import '../styles/global.css'
const {title} = Astro.props.frontmatter || Astro.props
---

<!DOCTYPE html>
<html lang='en'>
  <BaseHead title={title} />
  <body>
    <Navbar />
    <main>
      <slot />
    </main>
    <Footer />
    <style>
      main {
        margin: auto;
        padding: 1.5em;
        max-width: 36em;
      }
    </style>

    <script is:inline>
      const setTheme = () => {
        // Pull color scheme/theme from local storage and set it upon DOM load, if null then set it to dark theme //
        const theme = localStorage.getItem('theme')
        const bulbOn = document.querySelector('.lightbulb-on')
        const bulbOff = document.querySelector('.lightbulb-off')

        document.addEventListener('DOMContentLoaded', () => {
          document.documentElement.setAttribute(
            'color-scheme',
            !theme ? 'dark' : theme
          )
        })

        // display appropriate bulb icons according to color theme upon initial page load //
        if (theme === 'light') {
          bulbOn.classList.add('hidden')
          bulbOff.classList.remove('hidden')
        } else {
          bulbOn.classList.remove('hidden')
          bulbOff.classList.add('hidden')
        }
      }

      setTheme()
    </script>
  </body>
</html>
