---
import Navbar from '../components/Navbar.astro'
import Footer from '../components/Footer.astro'
import '../styles/global.css'
const { title = "Kyle's Portfolio" } = Astro.props
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <header>
      <Navbar />
    </header>
    <main>
      <slot />
    </main>
    <footer>
      <Footer />
    </footer>
    <script is:inline>
      const setTheme = () => {
        // Pull color scheme/theme from local storage and set it upon DOM load, if null then set it to dark theme //
        const theme = localStorage.getItem('theme')
        const bulbOn = document.querySelector('.lightbulb-on')
        const bulbOff = document.querySelector('.lightbulb-off')

        document.addEventListener('DOMContentLoaded', () => {
          document.documentElement.setAttribute(
            'color-scheme',
            !theme ? 'dark' : theme
          )
        })

        // display appropriate bulb icons according to color theme upon initial page load //
        if (theme === 'light') {
          bulbOn.classList.add('hidden')
          bulbOff.classList.remove('hidden')
        } else {
          bulbOn.classList.remove('hidden')
          bulbOff.classList.add('hidden')
        }
      }

      setTheme()
    </script>
  </body>
</html>
